@charset "utf-8";

body {
	background-color: black;
	margin: 0px;
	width: 100%;
	height: 100%;
}

#bg-img {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
}
#bg-img img {
	position: absolute;
	top: 0px;
	height: 100%;
	width: auto;
}

#wrapper {
	position: absolute;
	width: 100%;
	z-index: 10;
}

.scrollbar-area {
	position: absolute;
	width: 6px;
	top: 5px;
	bottom: 5px;
	right: 7px;
	background-color: #242424;
	border-radius: 3px;
	cursor: default;
}
.scrollbar-pos {
	position: absolute;
	height: 30px;
	width: 6px;
	background-color: #B5B5B5;
	border-radius: 3px;
	cursor: default;
}

#side-buttons {
	position: fixed;
	top: 40%;
	left: 0%;
	width: 70px;
	background-color: rgb(0,0,0);
	padding: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
#side-buttons div {
	float: left;
	margin: 2px;
	width: 64px;
	height: 64px;
	color: white;
	background-color: rgb(60,80,10);
	border-radius: 8px;
	line-height: 64px;
	text-align: center;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
#side-buttons div:hover {
	cursor: pointer;
}

#loading-coin {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-left: -30px;
}
#loading-coin img:first-of-type {
	position: absolute;
	left: 0px;
	width: 60px;
	height: 60px;
}
#loading-coin img:last-of-type {
	position: absolute;
	left: 0px;
	width: 0px;
	height: 0px;
}

#all-panel {
	position: relative;
	margin: 50px auto;
	background-color: rgba(0,0,0,0.8);;
	border-radius: 10px;
	width: 70%;
	height: auto;
	color: white;
	padding: 20px;
}
/*
MAIN PANEL START
*/
#main-panel{

}
#main-chart, #main-brawlers{
	width: 90%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.5);
}
#main-brawlers {
	margin-top: 10px;
}

/*
CHAMP PANEL START
*/
#champ-panel {
	
}
#champ-top {
	position: relative;
}
#champ-bot {
	position: relative;
	top: 10px;
	padding: 20px;
}
#champ-main-img {
	display: inline-block;
	position: relative;
	width: 25%;
	border-radius: 50%;
	background-color: black;
	overflow: hidden;
}
#champ-main-img img{
	display: block;
	position: absolute;
	height: auto;
}
#champ-left-content {
	display: inline-block;
	width: 36%;
	text-align: right;
}
#champ-right-content {
	display: inline-block;
	width: 36%;
}
#champ-select-button {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	background-color: gray;
	border-radius: 3px;
	cursor: pointer;
}
#champ-select-button img {
	margin-left: 8px;
	margin-top: 7px;
	width: 24px;
	height: auto;
}
#champ-select-window {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 300px;
	z-index: 20;
	overflow: hidden;
	background-color: black;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
#champ-select-bottom {
	position: absolute;
	height: 6px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: black;
}
#champ-scroll {
	top: 27px;
}
#champ-select-area {
	position: absolute;
	top: 23px;
	left: 0px;
	bottom: 0px;
	right: -18px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: black;
}
#champ-select-portraits {
	position: absolute;
	height: auto;
	right: 17px;
	left: 5px;
	top: 0px;
	padding-bottom: 5px;
}
#champ-select-area img {
	width: 50px;
	height: auto;
}
.champ-icon {
	cursor: pointer;
	margin: 2px;
}
#champ-select-text {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 2px;
	text-align: center;
	font-weight: bold;
}
#champ-select-close {
	position: absolute;
	top: 4px;
	right: 3px;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 15px;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	background-color: red;
	border-radius: 50%;
	cursor: pointer;
	font-family: sans-serif;
}

/*
MISC PANEL START
*/
#misc-panel {

}
#misc-map{
	position: relative;
	width: 20%;
	height: auto;
	overflow: hidden;
	box-shadow: 5px 0px 8px 2px #000,
				-3px 0px 5px 2px #000;
	border-radius: 1%;
}
#misc-map-overlay {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-position: right top;
	background-repeat: no-repeat;
	z-index: 20;
	box-shadow: -5px 0px 8px #000;
	overflow: hidden;
	border-bottom-left-radius: 1%;
	border-top-left-radius: 1%;
}
#misc-map-overlay img {
	position: absolute;
	height: auto;
	z-index: 20;
}
#misc-map-overlay #map-highlights {
	position: absolute;
	width: 0px;
	left: 50%;
	box-shadow: 0 0 38px 14px rgba(247, 201, 109, 0.61)
	z-index: 22;
}
#misc-map-overlay #map-shadows{
	position: absolute;
	background-color: rgba(196,147,0,.25);
	box-shadow: inset 0 0 8px #000,
				inset -15px 0 20px -9px #000,
				inset 15px 0 20px -9px #000;
	width: 100%;
	z-index: 21;
}
#misc-scroll-map {
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
#misc-scroll-map img{
	position: absolute;
	width: 100%;
	height: auto;
}
#map-content {
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	padding: 10px;
	color: black;
	font-weight: bold;
	font-family: sans-serif;
}
#misc-sr-map {
	width: 30%;
}
#misc-sr-map img{
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	border-top-left-radius: 25%;
	border-bottom-right-radius: 25%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
}