@charset "utf-8";

body {
	background-color: black;
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

#bg-img {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
}
#bg-img img {
	position: absolute;
	top: 0px;
	height: 100%;
	width: auto;
}

#wrapper {
	position: absolute;
	width: 100%;
	z-index: 10;
}

.tutorial {
	position: absolute;
	background-color: rgb(50,50,50);
	width: 250px;
	z-index: 30;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #000;
}
.tutorial-close {
	position: absolute;
	top: 4px;
	right: 3px;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 15px;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	background-color: red;
	border-radius: 50%;
	cursor: pointer;
	font-family: sans-serif;
}
.tutorial img {
	position: fixed;
	height: auto;
}
.tutorial-info {
	padding: 22px 13px 13px 13px;
}
.flipped {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}

.scrollbar-area {
	position: absolute;
	width: 6px;
	top: 5px;
	bottom: 5px;
	right: 7px;
	background-color: #242424;
	border-radius: 3px;
	cursor: default;
}
.scrollbar-pos {
	position: absolute;
	height: 30px;
	width: 6px;
	background-color: #B5B5B5;
	border-radius: 3px;
	cursor: default;
}

#side-buttons {
	position: fixed;
	top: 37%;
	left: 0%;
	width: 70px;
	background-color: rgb(0,0,0);
	padding: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
#side-buttons div {
	float: left;
	margin: 2px;
	width: 64px;
	height: 64px;
	color: white;
	background-color: rgb(60,80,10);
	border-radius: 8px;
	line-height: 64px;
	text-align: center;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
#side-buttons div:hover {
	cursor: pointer;
}

#loading-coin {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-left: -30px;
}
#loading-coin img:first-of-type {
	position: absolute;
	left: 0px;
	width: 60px;
	height: 60px;
}
#loading-coin img:last-of-type {
	position: absolute;
	left: 0px;
	width: 0px;
	height: 0px;
}

#all-panel {
	position: relative;
	margin: 50px auto;
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	width: 70%;
	height: auto;
	color: white;
	padding: 20px;
}
/*
MAIN PANEL START
*/
#main-panel{

}
#main-top-data, #main-brawlers{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.5);
}
#main-top-data {
	padding-bottom: 20px;
	position: relative;
}
#chart-slider {
	position: absolute;
	left: 5px;
	top: 33%;
	height: 40px;
	width: 25px;
}
#chart-slider span {
	left: 1px;
	cursor: pointer;
}
#time-slider {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	text-align: center;
	color: #A8A8A8;
	font-size: 14px;
}
#time-slider span {
	cursor: pointer;
}
#main-brawlers {
	position: relative;
	margin-top: 10px;
	height: 400px;
}
#brawlers-chart {
	width: 100%;
	height: 100%;
}
#brawler-img {
	position: absolute;
	left: 8px;
	top: 37px;
	width: 32px;
}
#brawler-img img {
	display: block;
	border-radius: 3px;
	width: 32px;
	height: auto;
	margin-top: 23px;
}

/*
CHAMP PANEL START
*/
#champ-panel {
	
}
#champ-top {
	position: relative;
}
#champ-floating-top {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 972px;
}
#champ-name {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10px;
	width: auto;
}
#champ-name b{
	font-size: 120%;
}
#champ-name i{
	font-size: 80%;
}
#champ-tutorial {

}
#champ-bot {
	position: relative;
	top: 10px;
	padding: 20px;
}
#champ-circle {
	display: inline-block;
	position: relative;
	width: 25%;
	border-radius: 50%;
	background-color: black;
	overflow: hidden;
}
#champ-main-img{
	display: block;
	position: absolute;
	height: auto;
}
#champ-gold-circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
#champ-left-content {
	position: relative;
	display: inline-block;
	width: 36%;
	text-align: right;
}
#champ-left-content div {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 66%;
}
#champ-right-content {
	position: relative;
	display: inline-block;
	width: 36%;
}
#champ-right-content div {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 66%;
}
#champ-select-button {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	background-color: gray;
	border-radius: 3px;
	cursor: pointer;
}
#champ-select-button img {
	margin-left: 8px;
	margin-top: 7px;
	width: 24px;
	height: auto;
}
#champ-select-window {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 300px;
	z-index: 20;
	overflow: hidden;
	background-color: black;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
#champ-select-bottom {
	position: absolute;
	height: 6px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: black;
}
#champ-scroll {
	top: 27px;
}
#champ-select-area {
	position: absolute;
	top: 23px;
	left: 0px;
	bottom: 0px;
	right: -18px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: black;
}
#champ-select-portraits {
	position: absolute;
	height: auto;
	right: 17px;
	left: 5px;
	top: 0px;
	padding-bottom: 5px;
}
#champ-select-area img {
	width: 50px;
	height: auto;
}
.champ-icon {
	cursor: pointer;
	margin: 2px;
}
#champ-select-text {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 2px;
	text-align: center;
	font-weight: bold;
}
#champ-select-close {
	position: absolute;
	top: 4px;
	right: 3px;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 15px;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	background-color: red;
	border-radius: 50%;
	cursor: pointer;
	font-family: sans-serif;
}
#champ-winning-item {
	position: relative;
}
#champ-winning-item img {
	display: block;
	margin: auto;
	border-radius: 5px;
}
#champ-item-desc {
	position: absolute;
	left: 55%;
	top: 0px;
	width: 300px;
	padding: 10px;
	color: #8A8A8A;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 5px;
	border: 2px solid #00AAAA;
	z-index: 40;
}
#champ-item-desc b {
	color: #DDDDDD
}
#champ-item-desc .item-cost {
	color: #EDE393;
	font-size: 90%;
}
#champ-item-desc .item-stats {
	color: #33AAAA;
}
#champ-item-desc .item-unique {
	color: #F2D600;
}
#champ-item-desc .item-active {
	color: #FA8500;
}
#champ-item-desc .item-text {
	font-size: 90%;
	color: #BBBBBB;
}
#champ-winning-item p {
	margin: 0;
	text-align: center;
}
#champ-stats-line {
	width: 80%;
	border: 1px solid #555;
	margin: 30px auto 30px auto;
	border-radius: 1px;
}

/*
MISC PANEL START
*/
#misc-panel {

}
#misc-map{
	position: relative;
	width: 20%;
	height: auto;
	overflow: hidden;
	box-shadow: 5px 0px 8px 2px #000,
				-3px 0px 5px 2px #000;
	border-radius: 1%;
}
#misc-map-overlay {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-position: right top;
	background-repeat: no-repeat;
	z-index: 20;
	box-shadow: -5px 0px 8px #000;
	overflow: hidden;
	border-bottom-left-radius: 1%;
	border-top-left-radius: 1%;
}
#misc-map-overlay img {
	position: absolute;
	height: auto;
	z-index: 20;
}
#misc-map-overlay #map-highlights {
	position: absolute;
	width: 0px;
	left: 50%;
	box-shadow: 0 0 38px 14px rgba(247, 201, 109, 0.61)
	z-index: 22;
}
#misc-map-overlay #map-shadows{
	position: absolute;
	background-color: rgba(196,147,0,.25);
	box-shadow: inset 0 0 8px #000,
				inset -15px 0 20px -9px #000,
				inset 15px 0 20px -9px #000;
	width: 100%;
	z-index: 21;
}
#misc-scroll-map {
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
#misc-scroll-map img{
	position: absolute;
	width: 100%;
	height: auto;
}
#map-content {
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	padding: 10px;
	color: black;
	font-weight: bold;
	font-family: "Gloria Hallelujah", cursive;
}
#misc-sr-map {
	width: 30%;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
#misc-sr-map img{
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}
#misc-teemo-killed {
	position: absolute;
	bottom: 5%;
	right: 3%;
	width: 15%;
}
#misc-teemo-killed img {
	width: 100%;
	height: auto;
}
#misc-fifty-percent {
	position: absolute;
	bottom: 20px;
	left: 35%;
	width: 35%;
}
#misc-fifty-percent img{
	width: 100%;
	height: auto;
}